.root {
    -fx-background-color: #155fba;
}

.label {
    -fx-text-alignment: center;
    -fx-font-family: Arial, serif;
    -fx-font-size: 50;
    -fx-font-weight: bolder;
}

.outline.label .text {
    -fx-fill: black;
}